nav {
  min-width: 100%;
  height: 5%;
  position: fixed;
  background-color: seashell;
  display: inline;
}

main {
  position: relative;
  top:200px;
  margin-left: 80px;
}

input {
  width: 40%;
  height: 40px;
  font-size: 30px;
}

form img {
  height: 44px;
  position: relative;
  top: 13px;
  border: 1px solid black;
}

.navitem {
  display: inline-block;
}

.right {
  float: right;
  margin-right: 20px;
}

.searchBar {
  line-height: 5px;
}

.navArrows {
  background-color: red;
  width: 33.33%;
}

.navContainer {
  width: 800px;
  margin-left: 100px;
}

.navContainer li {
  display:inline;
  border: 2px solid blue;
  border-radius: 3px;
  font-size: 25px;
  width: 30%;
  padding: 0px 0px;
}

.listContainer {
  list-style-type: none;
  line-height: 2em;
  font-size: 30px;
}

#prev::before {
  content: '\2190';
}

#next::after {
  content: '\2192';
}
